################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Nop.Plugin.Misc.Events/FileContentIndex
